{% extends 'base.html.twig' %}

{% block title %}Article {{ article.title }}{% endblock %}

{% block body %}

    <div class="jumbotron" style="background-image: url('/images/articles/{{ article.imageName }}'); background-size: cover; height: 400px">
        <div class="container">
            <h1 class="text-light">{{ article.title }}</h1>
            <div class="text-light">{{ article.date ? article.date|date('d-m-Y') : '' }}</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3">
                <div class="card profile-card-1">
                    <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/>
                    <img src="{{ article.author.avatar }}" alt="profile-image" class="profile"/>
                    <div class="card-content">
                        <h2>{{ article.author.pseudo }}
                            <div class="ui buttons small">
                                    <button class="ui button">Unfollow</button>
                                    <div class="or"></div>
                                    <button class="ui positive button">Follow</button>
                                </div>
                        </h2>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                    </div>
                </div>

                <style>
                    .profile-card-1 {
                        font-family: 'Open Sans', Arial, sans-serif;
                        position: relative;
                        float: left;
                        overflow: hidden;
                        width: 100%;
                        color: #ffffff;
                        text-align: center;
                        height:368px;
                        border:none;
                    }
                    .profile-card-1 .background {
                        width:100%;
                        vertical-align: top;
                        opacity: 0.9;
                        -webkit-filter: blur(5px);
                        filter: blur(5px);
                        -webkit-transform: scale(1.8);
                        transform: scale(2.8);
                    }
                    .profile-card-1 .card-content {
                        width: 100%;
                        padding: 15px 25px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                    }
                    .profile-card-1 .profile {
                        border-radius: 50%;
                        position: absolute;
                        bottom: 50%;
                        left: 50%;
                        max-width: 100px;
                        opacity: 1;
                        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
                        border: 2px solid rgba(255, 255, 255, 1);
                        -webkit-transform: translate(-50%, 0%);
                        transform: translate(-50%, 0%);
                    }
                    .profile-card-1 h2 {
                        margin: 0 0 5px;
                        font-weight: 600;
                        font-size:25px;
                    }
                    .profile-card-1 h2 small {
                        display: block;
                        font-size: 15px;
                        margin-top:10px;
                    }
                    .profile-card-1 i {
                        display: inline-block;
                        font-size: 16px;
                        color: #ffffff;
                        text-align: center;
                        border: 1px solid #fff;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 50%;
                        margin:0 5px;
                    }
                    .profile-card-1 .icon-block{
                        float:left;
                        width:100%;
                        margin-top:15px;
                    }
                    .profile-card-1 .icon-block a{
                        text-decoration:none;
                    }
                    .profile-card-1 i:hover {
                        background-color:#fff;
                        color:#2E3434;
                        text-decoration:none;
                    }
                </style>
            </div>

            <div class="col-9">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><a href="#" class="btn btn-danger">Ajouter à ma Playlist</a></td>
                        <td><a href="{{ path('debat', {'slug' : article.slug}) }}" class="btn btn-outline-dark">Participer au débat</a></td>
                        <td><a href="{{ path('debat_view', {'slug' : article.slug}) }}" class="btn btn-outline-secondary">Voir le débat</a></td>
                        <td>
                            <div class="ui labeled button" tabindex="0">
                                <div class="ui red button">
                                    <i class="fas fa-heart"></i> Like
                                </div>
                                <a class="ui basic red left pointing label">
                                    1.250
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="container my-5 h1">
                    {{ article.title | raw }}
                </div>

                <div class="container my-5">
                    {{ article.content | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
