{% extends 'base.html.twig' %}

{% block title %}Article {{ article.title }}{% endblock %}

{% block body %}

    <div class="jumbotron" style="background-image: url('{{ article.headPicture }}'); background-size: cover; height: 400px">
        <div class="container">
            <h1 class="text-light">{{ article.title }}</h1>
            <div class="text-light">{{ article.date ? article.date|date('d-m-Y') : '' }}</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
            <img class="rounded rounded-circle" src="{{ article.author.avatar }}">
            <h3>{{ article.author.pseudo }}</h3>
                <div class="ui inverted orange button">
                    <i class="fas fa-user-astronaut"></i>
                    Follow
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{ article.content | raw }}
    </div>

{% endblock %}
