{% extends 'base.html.twig' %}

{% block title %}Article {{ article.title }}{% endblock %}

{% block body %}
    <div class="d-flex align-baseline" style="background-image: url('{{ article.headPicture }}'); background-size: cover; height: 400px">
        <div class="container">
            <h1 class="text-light">{{ article.title }}</h1>
            <div class="text-light">{{ article.date ? article.date|date('d-m-Y') : '' }}</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        {% for author in article.author %}
            <div class="col">
            <img class="rounded rounded-circle" src="{{ author.avatar }}">
            {{ author.pseudo }}
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="container">
        {{ article.content | raw }}
    </div>

{% endblock %}
