{% block stylesheets %}<link rel="stylesheet" href="/css/navbar.css"> {% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
    <a class="navbar-brand" href="{{ path('home') }}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{ path('home_accueil') }}"><p id="fixR" data-heading="R" class="my-2">Fix.R</p></a>
            </li>
        </ul>
        <ul class="navbar-nav ml-2">
            {#<li class="nav-item">#}
                {#<i class="fas fa-bell fa-3x mx-3"></i>#}
            {#</li>#}
            <div class="ui input focus mx-3">
                <input type="text" placeholder="Search...">
                <button type="submit"><i class="fas fa-search fa-3x"></i></button>
            </div>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="searchDropdownLink">
                    <i class="fas fa-filter fa-3x"></i>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="searchDropdownLink">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    </form>
                    <div class="dropdown-divider"></div>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                    <i class="fas fa-user-astronaut fa-3x mx-3"></i>
                </a>
                {% if app.user %}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    <a class="dropdown-item" href="#">Ecrire un article</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <a class="dropdown-item" href="#">Accéder à mon espace</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('account_logout') }}">Déconnexion</a>
                </div>
                {% else %}
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                    <a class="dropdown-item" href="{{ path('account_register') }}">Créer un compte</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('account_login') }}">Connexion</a>
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div class="ui three item menu">
    <a href="#" class="item">Ma liste</a>
    <a href="{{ path('articles_nouveautes') }}" class="item">Nouveautés</a>
    <a href="#" class="item">Tendances</a>
</div>